/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #8a0000;
  --ifm-color-primary-dark: #7c0000;
  --ifm-color-primary-darker: #750000;
  --ifm-color-primary-darkest: #610000;
  --ifm-color-primary-light: #980000;
  --ifm-color-primary-lighter: #9f0000;
  --ifm-color-primary-lightest: #b30000;
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme="dark"] {
  --ifm-color-primary: #61caff;
  --ifm-color-primary-dark: #3ebeff;
  --ifm-color-primary-darker: #2cb8ff;
  --ifm-color-primary-darkest: #00a4f6;
  --ifm-color-primary-light: #84d6ff;
  --ifm-color-primary-lighter: #96dcff;
  --ifm-color-primary-lightest: #cbedff;
  --ifm-background-color: #2c2d35;
}

.hidden {
  display: none !important;
}

h1 img {
  vertical-align: bottom;
}

.icon-svg {
  width: 1.5em;
  vertical-align: bottom;
}

html[data-theme="dark"] .skill-icon {
  filter: invert(1);
}

.table-of-contents .icon-svg {
  display: none;
}

input[type="search"] {
  font-size: 16px;
}
